
extends ../../../layouts/account

block head
  title My Sites
  //- link(rel='stylesheet', href='/views/account/sites/index.min.css?#{cacheBreaker}')
  style(type='text/css')
    :css
      .template-site {
        display: none;
      }

      #create INPUT.site-name {
        text-align: right;
      }


block feet
  //- script(src='/views/account/sites/index.min.js?#{cacheBreaker}')
  script(src='/vendor/d3/d3.min.js')
  script(src='/views/account/sites/index.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div.page-header
        h1 My Sites
  div.row
    div.col-sm-9
      table
        thead
          tr
            th Name
            th Status
            th
        tbody.sites.list#site-list
        tbody.sites.skeleton.template-site
          tr.site-row
            td
              //- input.v.name
              a.v.view
                tt
                  span.v.name
                  | -login.diabetes.watch
            td
              span.v.status
              img.v.status
            td
              a.v.view.btn
                i.fa.fa-anchor
                | View
              a.btn.v.clock-mode Clock mode
              button.delete-site.btn.btn-danger.btn-sm
                i.fa.fa-trash-o

  div.row
    div.col-sm-12
      div#details
      div#create
        h2 Create a new site
        form#create_site(method="POST")
          .form-group
            label
              div Name 
              tt
                input.control.site-name(type="text", name="name")
                | -login.diabetes.watch
          button.btn.btn-default(type="submit")
            i.fa.fa-plus
            |  Add new site
