
extends ../../../layouts/account

block head
  title My Sites

block feet
  //- script(src='/views/account/sites/index.min.js?#{cacheBreaker}')
  script(src='/vendor/d3/d3.min.js')
  script(src='/views/account/sites/index.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div.page-header
        h1 Account Settings
  div.row
    div.col-sm-9
      table
        thead
          tr
            th Name
            th Details
            th
        tbody.sites.list#site-list
        tbody.sites.skeleton.template-site
          tr.site-row
            td
              input.v.name
            td
              span.v.name
              span.v.status
              img.v.status
            td
              a.v.view
                i.fa.fa.anchor View

      div#details
      div#create
        form#create_site(method="POST")
          .form-group
            label Name
              input.form-control(type="text", name="name")
          button.btn.btn-default(type="submit") Create
            i.fa.fa-plus
